<div id="<%= dom_id envio %>">
  <p>
    <strong>Nombre:</strong>
    <%= envio.nombre %>
  </p>

  <p>
    <strong>Comuna:</strong>
    <%= envio.comuna %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= envio.direccion %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= envio.email %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= envio.telefono %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= envio.observaciones %>
  </p>

</div>
