<div id="<%= dom_id retiro %>">
  <p>
    <strong>Nombre:</strong>
    <%= retiro.nombre %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= retiro.direccion %>
  </p>

  <p>
    <strong>Comuna:</strong>
    <%= retiro.comuna %> <!-- Mostramos la comuna seleccionada -->
  </p>

  <p>
    <strong>Detalles:</strong>
    <%= retiro.detalles %> <!-- Mostramos los detalles ingresados -->
  </p>

  <p>
    <strong>Email:</strong>
    <%= retiro.email %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= retiro.telefono %>
  </p>
</div>
